<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="branchManagerMapper">

    <resultMap id="branchManagerResultMap" type="kr.seoulfitness.admin.branchManager.BranchManagerDto">
        <!-- 지점에 속하는 지점 관리자 정보 -->
        <result property="branchManagerId" column="BRANCH_MANAGER_ID" />
        <result property="branchId" column="BRANCH_ID" />
        <result property="userId" column="USER_ID" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedAt" column="UPDATED_AT" />
        <result property="createdBy" column="CREATED_BY" />
        <result property="updatedBy" column="UPDATED_BY" />        
        <!-- 지점 정보 -->
        <result property="branchName" column="BRANCH_NAME" />
        <result property="branchAddress" column="BRANCH_ADDRESS" />
        <result property="branchPhone" column="BRANCH_PHONE" />
        <!-- 사용자 정보 -->
        <result property="userName" column="USER_NAME" />
        <result property="userEmail" column="USER_EMAIL" />
        <result property="userPhone" column="USER_PHONE" />
        <result property="profileImage" column="PROFILE_IMAGE" />
        <!-- 등록한 사람, 수정한 사람 -->
        <result property="createdUserName" column="CREATED_USER_NAME" />
        <result property="updatedUserName" column="UPDATED_USER_NAME" />
        <result property="createdUserPhone" column="CREATED_USER_PHONE" />
        <result property="updatedUserPhone" column="UPDATED_USER_PHONE" />
    </resultMap>

    <!-- 지점 관리자 등록 -->
    <insert id="insertBranchManager" parameterType="kr.seoulfitness.admin.branchManager.BranchManagerDto">
        <![CDATA[
        INSERT INTO BRANCH_MANAGERS (
            BRANCH_ID, 
            USER_ID,
            CREATED_BY,
            UPDATED_BY
        ) VALUES (
            #{branchId}, 
            #{userId}, 
            #{createdBy}, 
            #{updatedBy}
        )
        ]]>
    </insert>

    <!-- 지점 목록 -->
    <select id="getBranchManagers" resultMap="branchManagerResultMap">
        <![CDATA[
        SELECT
            -- 지점 관리자 정보
            A.BRANCH_MANAGER_ID,
            A.BRANCH_ID,
            A.USER_ID, 
            A.CREATED_AT,
            A.UPDATED_AT,
            A.CREATED_BY,
            A.UPDATED_BY,
            -- 사용자 정보
            B.USER_NAME AS USER_NAME,
            B.USER_EMAIL AS USER_EMAIL,
            B.USER_PHONE AS USER_PHONE,
            B.PROFILE_IMAGE AS PROFILE_IMAGE,
            -- 지점 정보
            C.BRANCH_NAME AS BRANCH_NAME,
            C.BRANCH_ADDRESS AS BRANCH_ADDRESS,
            C.BRANCH_PHONE AS BRANCH_PHONE,
            -- 등록한 사람, 수정한 사람
            D.USER_NAME AS CREATED_USER_NAME,
            D.USER_PHONE AS CREATED_USER_PHONE,
            E.USER_NAME AS UPDATED_USER_NAME,
            E.USER_PHONE AS UPDATED_USER_PHONE
        FROM    
            BRANCH_MANAGERS AS A
            LEFT JOIN USERS AS B ON B.USER_ID = A.USER_ID
            LEFT JOIN BRANCHES AS C ON C.BRANCH_ID = A.BRANCH_ID
            LEFT JOIN USERS D ON D.USER_ID = A.CREATED_BY
            LEFT JOIN USERS E ON E.USER_ID = A.UPDATED_BY
        WHERE 1=1
        ]]>
        <if test="userId != null">
            <![CDATA[
            AND A.USER_ID = #{userId}
            ]]>
        </if>
        <if test="branchId != null and branchId != 0">
            <![CDATA[
            AND A.BRANCH_ID = #{branchId}
            ]]>
        </if>
        <if test="excludeBranchId != null and excludeBranchId != 0">
            <![CDATA[
            AND A.BRANCH_ID != #{excludeBranchId}
            ]]>
        </if>
        <![CDATA[
        ORDER BY B.USER_NAME ASC
        LIMIT #{offset}, #{listCountPerPage}
        ]]>
    </select>
    
    <!-- 지점 관리자 상세보기 -->
    <select id="getBranchManager" resultMap="branchManagerResultMap">
        <![CDATA[
        SELECT
            -- 지점 관리자 정보
            A.BRANCH_MANAGER_ID,
            A.BRANCH_ID,
            A.USER_ID, 
            A.CREATED_AT,
            A.UPDATED_AT,
            A.CREATED_BY,
            A.UPDATED_BY,
            -- 사용자 정보
            B.USER_NAME AS USER_NAME,
            B.USER_EMAIL AS USER_EMAIL,
            B.USER_PHONE AS USER_PHONE,
            B.PROFILE_IMAGE AS PROFILE_IMAGE,
            -- 지점 정보
            C.BRANCH_NAME AS BRANCH_NAME,
            C.BRANCH_ADDRESS AS BRANCH_ADDRESS,
            C.BRANCH_PHONE AS BRANCH_PHONE,
            -- 등록한 사람, 수정한 사람
            D.USER_NAME AS CREATED_USER_NAME,
            D.USER_PHONE AS CREATED_USER_PHONE,
            E.USER_NAME AS UPDATED_USER_NAME,
            E.USER_PHONE AS UPDATED_USER_PHONE
        FROM    
            BRANCH_MANAGERS AS A
            LEFT JOIN USERS AS B ON B.USER_ID = A.USER_ID
            LEFT JOIN BRANCHES AS C ON C.BRANCH_ID = A.BRANCH_ID
            LEFT JOIN USERS D ON D.USER_ID = A.CREATED_BY
            LEFT JOIN USERS E ON E.USER_ID = A.UPDATED_BY
        WHERE
            BRANCH_MANAGER_ID = #{branchManagerId}
        LIMIT 1
        ]]>  
    </select>

    <!-- 지점 관리자 수정 -->
    <update id="updateBranchManager" parameterType="kr.seoulfitness.admin.branchManager.BranchManagerDto">
        <![CDATA[
        UPDATE BRANCH_MANAGERS SET BRANCH_MANAGER_ID = #{branchManagerId}
        ]]>
        <if test="branchId != null">
            <![CDATA[
            , BRANCH_ID = #{branchId}
            ]]>
        </if>
        <if test="userId != null">
            <![CDATA[
            , USER_ID = #{userId}
            ]]>
        </if>
        <if test="updatedBy != null">
            <![CDATA[
            , UPDATED_BY = #{updatedBy}
            ]]>
        </if>
        <![CDATA[
        WHERE BRANCH_MANAGER_ID = #{branchManagerId} LIMIT 1
        ]]>
    </update>

    <!-- 지점 관리자 삭제 -->
    <delete id="deleteBranchManager" parameterType="map">
        <![CDATA[
        DELETE FROM BRANCH_MANAGERS WHERE 1=1
        ]]>
        <if test="branchManagerId != null and branchManagerId != 0">
            <![CDATA[
            AND BRANCH_MANAGER_ID = #{branchManagerId}
            ]]>
        </if>
        <if test="branchId != null and branchId != 0">
            <![CDATA[
            AND BRANCH_ID = #{branchId}
            ]]>
        </if>
        <if test="userId != null">
            <![CDATA[
            AND USER_ID = #{userId}
            ]]>
        </if>
        <![CDATA[
        LIMIT 1
        ]]>
    </delete>   

    <!-- 지점 관리자 수 -->
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(*) 
        FROM    
            BRANCH_MANAGERS AS A
            LEFT JOIN USERS AS B ON A.USER_ID = B.USER_ID
            LEFT JOIN BRANCHES AS C ON A.BRANCH_ID = C.BRANCH_ID
        WHERE 1=1
        ]]>
        <if test="userId != null">
            <![CDATA[
            AND A.USER_ID = #{userId}
            ]]>
        </if>
        <if test="branchId != null and branchId != 0">
            <![CDATA[
            AND A.BRANCH_ID = #{branchId}
            ]]>
        </if>
    </select>

</mapper>
