<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="districtMapper">

    <resultMap id="districtResultMap" type="kr.seoulfitness.admin.district.DistrictDto">
        <!-- 구/군 정보 -->
        <result property="districtId" column="DISTRICT_ID" />
        <result property="provinceId" column="PROVINCE_ID" />
        <result property="districtName" column="DISTRICT_NAME" />
        <result property="districtMemo" column="DISTRICT_MEMO" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedAt" column="UPDATED_AT" />
        <result property="createdBy" column="CREATED_BY" />
        <result property="updatedBy" column="UPDATED_BY" />    
        <!-- 등록한 사람, 수정한 사람 -->
        <result property="createdUserName" column="CREATED_USER_NAME" />
        <result property="updatedUserName" column="UPDATED_USER_NAME" />
        <result property="createdUserPhone" column="CREATED_USER_PHONE" />
        <result property="updatedUserPhone" column="UPDATED_USER_PHONE" />
        <!-- 시/도 정보 -->
        <result property="provinceName" column="PROVINCE_NAME" />
    </resultMap>

    <!-- 구/군 등록 -->
    <insert id="create" parameterType="kr.seoulfitness.admin.district.DistrictDto">
        <![CDATA[
        INSERT INTO DISTRICTS (
            PROVINCE_ID,
            DISTRICT_NAME, 
            DISTRICT_MEMO,
            CREATED_BY,
            UPDATED_BY
        ) VALUES (
            #{provinceId},
            #{districtName}, 
            #{districtMemo},
            #{createdBy}, 
            #{updatedBy}
        )
        ]]>
    </insert>

    <!-- 구/군 목록 -->
    <select id="list" resultMap="districtResultMap">
        <![CDATA[
        SELECT
            -- 구/군 정보
            A.DISTRICT_ID,
            A.PROVINCE_ID,
            A.DISTRICT_NAME, 
            A.DISTRICT_MEMO, 
            A.CREATED_AT,
            A.UPDATED_AT,
            A.CREATED_BY,
            A.UPDATED_BY,
            -- 등록한 사람, 수정한 사람
            B.USER_NAME AS CREATED_USER_NAME,
            B.USER_PHONE AS CREATED_USER_PHONE,
            C.USER_NAME AS UPDATED_USER_NAME,
            C.USER_PHONE AS UPDATED_USER_PHONE,
            -- 시/도 정보
            D.PROVINCE_NAME
        FROM    
            DISTRICTS A
            LEFT JOIN USERS B ON B.USER_ID = A.CREATED_BY
            LEFT JOIN USERS C ON C.USER_ID = A.UPDATED_BY
            LEFT JOIN PROVINCES D ON D.PROVINCE_ID = A.PROVINCE_ID
        WHERE 1=1
        ]]>
        <if test="keyword != null">
            <![CDATA[
            AND (
                A.DISTRICT_NAME LIKE CONCAT('%', #{keyword}, '%') 
                OR A.DISTRICT_MEMO LIKE CONCAT('%', #{keyword}, '%')
                OR D.PROVINCE_NAME LIKE CONCAT('%', #{keyword}, '%')
            )
            ]]>
        </if>
        <![CDATA[
        ORDER BY D.PROVINCE_NAME ASC, A.DISTRICT_NAME ASC
        LIMIT #{offset}, #{listCountPerPage}
        ]]>
    </select>

    <!-- 구/군 보기 -->
    <select id="read" resultMap="districtResultMap">
        <![CDATA[
        SELECT
            -- 구/군 정보
            A.DISTRICT_ID,
            A.PROVINCE_ID,
            A.DISTRICT_NAME, 
            A.DISTRICT_MEMO, 
            A.CREATED_AT,
            A.UPDATED_AT,
            A.CREATED_BY,
            A.UPDATED_BY,
            -- 등록한 사람, 수정한 사람
            B.USER_NAME AS CREATED_USER_NAME,
            B.USER_PHONE AS CREATED_USER_PHONE,
            C.USER_NAME AS UPDATED_USER_NAME,
            C.USER_PHONE AS UPDATED_USER_PHONE,
            -- 시/도 정보
            D.PROVINCE_NAME
        FROM
            DISTRICTS A
            LEFT JOIN USERS B ON B.USER_ID = A.CREATED_BY
            LEFT JOIN USERS C ON C.USER_ID = A.UPDATED_BY
            LEFT JOIN PROVINCES D ON D.PROVINCE_ID = A.PROVINCE_ID
        WHERE
            A.DISTRICT_ID = #{districtId}
        LIMIT 1
        ]]>  
    </select>

    <!-- 구/군 수정 -->
    <update id="update" parameterType="kr.seoulfitness.admin.district.DistrictDto">
        <![CDATA[
        UPDATE DISTRICTS SET DISTRICT_ID = #{districtId}
        ]]>
        <if test="provinceId != null">
            <![CDATA[
            , PROVINCE_ID = #{provinceId}
            ]]>
        </if>
        <if test="districtName != null">
            <![CDATA[
            , DISTRICT_NAME = #{districtName}
            ]]>
        </if>
        <if test="districtMemo != null">
            <![CDATA[
            , DISTRICT_MEMO = #{districtMemo}
            ]]>
        </if>
        <if test="updatedBy != null">
            <![CDATA[
            , UPDATED_BY = #{updatedBy}
            ]]>
        </if>
        <![CDATA[
        WHERE DISTRICT_ID = #{districtId} LIMIT 1
        ]]>
    </update>

    <!-- 구/군 삭제 -->
    <delete id="delete" parameterType="int">
        <![CDATA[
        DELETE FROM DISTRICTS WHERE DISTRICT_ID = #{districtId} LIMIT 1
        ]]>
    </delete>

    <!-- 구/군 수 -->
    <select id="totalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(*) 
        FROM DISTRICTS A
        LEFT JOIN PROVINCES D ON D.PROVINCE_ID = A.PROVINCE_ID
        WHERE 1=1
        ]]>
        <if test="keyword != null">
            <![CDATA[
            AND (
                A.DISTRICT_NAME LIKE CONCAT('%', #{keyword}, '%') 
                OR A.DISTRICT_MEMO LIKE CONCAT('%', #{keyword}, '%')
                OR D.PROVINCE_NAME LIKE CONCAT('%', #{keyword}, '%')
            )
            ]]>
        </if>
    </select>

</mapper>
