<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="earlyAdmissionPhysicalWomanRelativeMapper">

    <resultMap id="earlyAdmissionPhysicalWomanRelativeResultMap" type="kr.seoulfitness.admin.earlyAdmissionPhysicalWomanRelative.EarlyAdmissionPhysicalWomanRelativeDto">
        <!-- 수시 모집 실기 여자 상대평가 점수 정보 -->
        <result property="earlyAdmissionPhysicalRelativeId" column="EARLY_ADMISSION_PHYSICAL_RELATIVE_ID" />
        <result property="earlyAdmissionPhysicalSubjectId" column="EARLY_ADMISSION_PHYSICAL_SUBJECT_ID" />
        <result property="earlyAdmissionPhysicalId" column="EARLY_ADMISSION_PHYSICAL_ID" />
        <result property="admissionId" column="ADMISSION_ID" />
        
        <!-- 실기 교과목 등급 사용 여부 (1등급 ~ 40등급) -->
        <result property="useGrade1" column="USE_GRADE1" />
        <result property="useGrade2" column="USE_GRADE2" />
        <result property="useGrade3" column="USE_GRADE3" />
        <result property="useGrade4" column="USE_GRADE4" />
        <result property="useGrade5" column="USE_GRADE5" />
        <result property="useGrade6" column="USE_GRADE6" />
        <result property="useGrade7" column="USE_GRADE7" />
        <result property="useGrade8" column="USE_GRADE8" />
        <result property="useGrade9" column="USE_GRADE9" />
        <result property="useGrade10" column="USE_GRADE10" />
        <result property="useGrade11" column="USE_GRADE11" />
        <result property="useGrade12" column="USE_GRADE12" />
        <result property="useGrade13" column="USE_GRADE13" />
        <result property="useGrade14" column="USE_GRADE14" />
        <result property="useGrade15" column="USE_GRADE15" />
        <result property="useGrade16" column="USE_GRADE16" />
        <result property="useGrade17" column="USE_GRADE17" />
        <result property="useGrade18" column="USE_GRADE18" />
        <result property="useGrade19" column="USE_GRADE19" />
        <result property="useGrade20" column="USE_GRADE20" />
        <result property="useGrade21" column="USE_GRADE21" />
        <result property="useGrade22" column="USE_GRADE22" />
        <result property="useGrade23" column="USE_GRADE23" />
        <result property="useGrade24" column="USE_GRADE24" />
        <result property="useGrade25" column="USE_GRADE25" />
        <result property="useGrade26" column="USE_GRADE26" />
        <result property="useGrade27" column="USE_GRADE27" />
        <result property="useGrade28" column="USE_GRADE28" />
        <result property="useGrade29" column="USE_GRADE29" />
        <result property="useGrade30" column="USE_GRADE30" />
        <result property="useGrade31" column="USE_GRADE31" />
        <result property="useGrade32" column="USE_GRADE32" />
        <result property="useGrade33" column="USE_GRADE33" />
        <result property="useGrade34" column="USE_GRADE34" />
        <result property="useGrade35" column="USE_GRADE35" />
        <result property="useGrade36" column="USE_GRADE36" />
        <result property="useGrade37" column="USE_GRADE37" />
        <result property="useGrade38" column="USE_GRADE38" />
        <result property="useGrade39" column="USE_GRADE39" />
        <result property="useGrade40" column="USE_GRADE40" />

        <!-- 실기 교과목 등급별 점수 -->
        <result property="grade1Score" column="GRADE1_SCORE" />
        <result property="grade2Score" column="GRADE2_SCORE" />
        <result property="grade3Score" column="GRADE3_SCORE" />
        <result property="grade4Score" column="GRADE4_SCORE" />
        <result property="grade5Score" column="GRADE5_SCORE" />
        <result property="grade6Score" column="GRADE6_SCORE" />
        <result property="grade7Score" column="GRADE7_SCORE" />
        <result property="grade8Score" column="GRADE8_SCORE" />
        <result property="grade9Score" column="GRADE9_SCORE" />
        <result property="grade10Score" column="GRADE10_SCORE" />
        <result property="grade11Score" column="GRADE11_SCORE" />
        <result property="grade12Score" column="GRADE12_SCORE" />
        <result property="grade13Score" column="GRADE13_SCORE" />
        <result property="grade14Score" column="GRADE14_SCORE" />
        <result property="grade15Score" column="GRADE15_SCORE" />
        <result property="grade16Score" column="GRADE16_SCORE" />
        <result property="grade17Score" column="GRADE17_SCORE" />
        <result property="grade18Score" column="GRADE18_SCORE" />
        <result property="grade19Score" column="GRADE19_SCORE" />
        <result property="grade20Score" column="GRADE20_SCORE" />
        <result property="grade21Score" column="GRADE21_SCORE" />
        <result property="grade22Score" column="GRADE22_SCORE" />
        <result property="grade23Score" column="GRADE23_SCORE" />
        <result property="grade24Score" column="GRADE24_SCORE" />
        <result property="grade25Score" column="GRADE25_SCORE" />
        <result property="grade26Score" column="GRADE26_SCORE" />
        <result property="grade27Score" column="GRADE27_SCORE" />
        <result property="grade28Score" column="GRADE28_SCORE" />
        <result property="grade29Score" column="GRADE29_SCORE" />
        <result property="grade30Score" column="GRADE30_SCORE" />
        <result property="grade31Score" column="GRADE31_SCORE" />
        <result property="grade32Score" column="GRADE32_SCORE" />
        <result property="grade33Score" column="GRADE33_SCORE" />
        <result property="grade34Score" column="GRADE34_SCORE" />
        <result property="grade35Score" column="GRADE35_SCORE" />
        <result property="grade36Score" column="GRADE36_SCORE" />
        <result property="grade37Score" column="GRADE37_SCORE" />
        <result property="grade38Score" column="GRADE38_SCORE" />
        <result property="grade39Score" column="GRADE39_SCORE" />
        <result property="grade40Score" column="GRADE40_SCORE" />
        
        <!-- 실기 교과목 비율 최소, 최대 -->
        <result property="grade1RangeMin" column="GRADE1_RANGE_MIN" />
        <result property="grade1RangeMax" column="GRADE1_RANGE_MAX" />
        <result property="grade2RangeMin" column="GRADE2_RANGE_MIN" />
        <result property="grade2RangeMax" column="GRADE2_RANGE_MAX" />
        <result property="grade3RangeMin" column="GRADE3_RANGE_MIN" />
        <result property="grade3RangeMax" column="GRADE3_RANGE_MAX" />
        <result property="grade4RangeMin" column="GRADE4_RANGE_MIN" />
        <result property="grade4RangeMax" column="GRADE4_RANGE_MAX" />
        <result property="grade5RangeMin" column="GRADE5_RANGE_MIN" />
        <result property="grade5RangeMax" column="GRADE5_RANGE_MAX" />
        <result property="grade6RangeMin" column="GRADE6_RANGE_MIN" />
        <result property="grade6RangeMax" column="GRADE6_RANGE_MAX" />
        <result property="grade7RangeMin" column="GRADE7_RANGE_MIN" />
        <result property="grade7RangeMax" column="GRADE7_RANGE_MAX" />
        <result property="grade8RangeMin" column="GRADE8_RANGE_MIN" />
        <result property="grade8RangeMax" column="GRADE8_RANGE_MAX" />
        <result property="grade9RangeMin" column="GRADE9_RANGE_MIN" />
        <result property="grade9RangeMax" column="GRADE9_RANGE_MAX" />
        <result property="grade10RangeMin" column="GRADE10_RANGE_MIN" />
        <result property="grade10RangeMax" column="GRADE10_RANGE_MAX" />
        <result property="grade11RangeMin" column="GRADE11_RANGE_MIN" />
        <result property="grade11RangeMax" column="GRADE11_RANGE_MAX" />
        <result property="grade12RangeMin" column="GRADE12_RANGE_MIN" />
        <result property="grade12RangeMax" column="GRADE12_RANGE_MAX" />
        <result property="grade13RangeMin" column="GRADE13_RANGE_MIN" />
        <result property="grade13RangeMax" column="GRADE13_RANGE_MAX" />
        <result property="grade14RangeMin" column="GRADE14_RANGE_MIN" />
        <result property="grade14RangeMax" column="GRADE14_RANGE_MAX" />
        <result property="grade15RangeMin" column="GRADE15_RANGE_MIN" />
        <result property="grade15RangeMax" column="GRADE15_RANGE_MAX" />
        <result property="grade16RangeMin" column="GRADE16_RANGE_MIN" />
        <result property="grade16RangeMax" column="GRADE16_RANGE_MAX" />
        <result property="grade17RangeMin" column="GRADE17_RANGE_MIN" />
        <result property="grade17RangeMax" column="GRADE17_RANGE_MAX" />
        <result property="grade18RangeMin" column="GRADE18_RANGE_MIN" />
        <result property="grade18RangeMax" column="GRADE18_RANGE_MAX" />
        <result property="grade19RangeMin" column="GRADE19_RANGE_MIN" />
        <result property="grade19RangeMax" column="GRADE19_RANGE_MAX" />
        <result property="grade20RangeMin" column="GRADE20_RANGE_MIN" />
        <result property="grade20RangeMax" column="GRADE20_RANGE_MAX" />
        <result property="grade21RangeMin" column="GRADE21_RANGE_MIN" />
        <result property="grade21RangeMax" column="GRADE21_RANGE_MAX" />
        <result property="grade22RangeMin" column="GRADE22_RANGE_MIN" />
        <result property="grade22RangeMax" column="GRADE22_RANGE_MAX" />
        <result property="grade23RangeMin" column="GRADE23_RANGE_MIN" />
        <result property="grade23RangeMax" column="GRADE23_RANGE_MAX" />
        <result property="grade24RangeMin" column="GRADE24_RANGE_MIN" />
        <result property="grade24RangeMax" column="GRADE24_RANGE_MAX" />
        <result property="grade25RangeMin" column="GRADE25_RANGE_MIN" />
        <result property="grade25RangeMax" column="GRADE25_RANGE_MAX" />
        <result property="grade26RangeMin" column="GRADE26_RANGE_MIN" />
        <result property="grade26RangeMax" column="GRADE26_RANGE_MAX" />
        <result property="grade27RangeMin" column="GRADE27_RANGE_MIN" />
        <result property="grade27RangeMax" column="GRADE27_RANGE_MAX" />
        <result property="grade28RangeMin" column="GRADE28_RANGE_MIN" />
        <result property="grade28RangeMax" column="GRADE28_RANGE_MAX" />
        <result property="grade29RangeMin" column="GRADE29_RANGE_MIN" />
        <result property="grade29RangeMax" column="GRADE29_RANGE_MAX" />
        <result property="grade30RangeMin" column="GRADE30_RANGE_MIN" />
        <result property="grade30RangeMax" column="GRADE30_RANGE_MAX" />
        <result property="grade31RangeMin" column="GRADE31_RANGE_MIN" />
        <result property="grade31RangeMax" column="GRADE31_RANGE_MAX" />
        <result property="grade32RangeMin" column="GRADE32_RANGE_MIN" />
        <result property="grade32RangeMax" column="GRADE32_RANGE_MAX" />
        <result property="grade33RangeMin" column="GRADE33_RANGE_MIN" />
        <result property="grade33RangeMax" column="GRADE33_RANGE_MAX" />
        <result property="grade34RangeMin" column="GRADE34_RANGE_MIN" />
        <result property="grade34RangeMax" column="GRADE34_RANGE_MAX" />
        <result property="grade35RangeMin" column="GRADE35_RANGE_MIN" />
        <result property="grade35RangeMax" column="GRADE35_RANGE_MAX" />
        <result property="grade36RangeMin" column="GRADE36_RANGE_MIN" />
        <result property="grade36RangeMax" column="GRADE36_RANGE_MAX" />
        <result property="grade37RangeMin" column="GRADE37_RANGE_MIN" />
        <result property="grade37RangeMax" column="GRADE37_RANGE_MAX" />
        <result property="grade38RangeMin" column="GRADE38_RANGE_MIN" />
        <result property="grade38RangeMax" column="GRADE38_RANGE_MAX" />
        <result property="grade39RangeMin" column="GRADE39_RANGE_MIN" />
        <result property="grade39RangeMax" column="GRADE39_RANGE_MAX" />
        <result property="grade40RangeMin" column="GRADE40_RANGE_MIN" />
        <result property="grade40RangeMax" column="GRADE40_RANGE_MAX" />

        <!-- 메모 -->
        <result property="earlyAdmissionPhysicalRelativeMemo" column="EARLY_ADMISSION_PHYSICAL_RELATIVE_MEMO" />
        
        <!-- 등록일시, 수정일시, 등록자, 수정자 -->
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedAt" column="UPDATED_AT" />
        <result property="createdBy" column="CREATED_BY" />
        <result property="updatedBy" column="UPDATED_BY" />
        
        <!-- 등록한 사람, 수정한 사람 정보 -->
        <result property="createdUserName" column="CREATED_USER_NAME" />
        <result property="updatedUserName" column="UPDATED_USER_NAME" />
        <result property="createdUserPhone" column="CREATED_USER_PHONE" />
        <result property="updatedUserPhone" column="UPDATED_USER_PHONE" />
    </resultMap>

    <!-- 공통 WHERE 조건 SQL 조각 -->
    <sql id="commonWhereConditions">
        <if test="earlyAdmissionPhysicalRelativeId != null and earlyAdmissionPhysicalRelativeId != 0">
            <![CDATA[
            AND EARLY_ADMISSION_PHYSICAL_RELATIVE_ID = #{earlyAdmissionPhysicalRelativeId}
            ]]>
        </if>
        <if test="earlyAdmissionPhysicalSubjectId != null and earlyAdmissionPhysicalSubjectId != 0">
            <![CDATA[
            AND EARLY_ADMISSION_PHYSICAL_SUBJECT_ID = #{earlyAdmissionPhysicalSubjectId}
            ]]>
        </if>
        <if test="earlyAdmissionPhysicalId != null and earlyAdmissionPhysicalId != 0">
            <![CDATA[
            AND EARLY_ADMISSION_PHYSICAL_ID = #{earlyAdmissionPhysicalId}
            ]]>
        </if>
        <if test="admissionId != null and admissionId != 0">
            <![CDATA[
            AND ADMISSION_ID = #{admissionId}
            ]]>
        </if>
    </sql>

    <!-- 수시 모집 실기 여자 상대평가 점수 정보 등록 -->
    <insert id="insertEarlyAdmissionPhysicalWomanRelative" 
            parameterType="kr.seoulfitness.admin.earlyAdmissionPhysicalWomanRelative.EarlyAdmissionPhysicalWomanRelativeDto" 
            useGeneratedKeys="true" 
            keyProperty="earlyAdmissionPhysicalRelativeId">

        <![CDATA[
        INSERT INTO EARLY_ADMISSION_PHYSICAL_WOMAN_RELATIVE (
            EARLY_ADMISSION_PHYSICAL_SUBJECT_ID,
            EARLY_ADMISSION_PHYSICAL_ID,
            ADMISSION_ID,
            ]]>

            <!-- 등급 사용 여부 컬럼 -->
            <foreach collection="(1..40).toList()" item="i" separator=",">
                <![CDATA[
                USE_GRADE${i}
                ]]>
            </foreach>
            
            <![CDATA[,]]>
            
            <!-- 등급별 점수 컬럼 -->
            <foreach collection="(1..40).toList()" item="i" separator=",">
                <![CDATA[
                GRADE${i}_SCORE
                ]]>
            </foreach>
            
            <![CDATA[,]]>
            
            <!-- 등급별 범위 컬럼 -->
            <foreach collection="(1..40).toList()" item="i" separator=",">
                <![CDATA[
                GRADE${i}_RANGE_MIN, GRADE${i}_RANGE_MAX
                ]]>
            </foreach>

            <![CDATA[,]]>

            <![CDATA[
            EARLY_ADMISSION_PHYSICAL_RELATIVE_MEMO,
            CREATED_BY,
            UPDATED_BY
        ) VALUES (
            #{earlyAdmissionPhysicalSubjectId},
            #{earlyAdmissionPhysicalId},
            #{admissionId},
            ]]>

            <!-- 등급 사용 여부 값 -->
            <foreach collection="(1..40).toList()" item="i" separator=",">
                <![CDATA[
                #{useGrade${i}}
                ]]>
            </foreach>
            
            <![CDATA[,]]>
            
            <!-- 등급별 점수 값 -->
            <foreach collection="(1..40).toList()" item="i" separator=",">
                <![CDATA[
                #{grade${i}Score}
                ]]>
            </foreach>
            
            <![CDATA[,]]>
            
            <!-- 등급별 범위 값 -->
            <foreach collection="(1..40).toList()" item="i" separator=",">
                <![CDATA[
                #{grade${i}RangeMin}, #{grade${i}RangeMax}
                ]]>
            </foreach>
            
            <![CDATA[,]]>
            
            <![CDATA[
            #{earlyAdmissionPhysicalRelativeMemo},
            #{createdBy},
            #{updatedBy}
        )
        ]]>  
    </insert>

    <!-- 수시 모집 실기 여자 상대평가 점수 목록 -->
    <select id="getEarlyAdmissionPhysicalWomanRelativeList" resultMap="earlyAdmissionPhysicalWomanRelativeResultMap">
        <![CDATA[
        SELECT
            A.*,
            B.USER_NAME AS CREATED_USER_NAME,
            B.USER_PHONE AS CREATED_USER_PHONE,
            C.USER_NAME AS UPDATED_USER_NAME,
            C.USER_PHONE AS UPDATED_USER_PHONE
        FROM
            EARLY_ADMISSION_PHYSICAL_WOMAN_RELATIVE A
            LEFT JOIN USERS B ON B.USER_ID = A.CREATED_BY
            LEFT JOIN USERS C ON C.USER_ID = A.UPDATED_BY        
        WHERE 1=1
        ]]>
        <include refid="commonWhereConditions" />
    </select>

    <!-- 수시 모집 실기 여자 상대평가 점수 정보 상세보기 -->
    <select id="getEarlyAdmissionPhysicalWomanRelative" resultMap="earlyAdmissionPhysicalWomanRelativeResultMap">
        <![CDATA[
        SELECT
            A.*,
            B.USER_NAME AS CREATED_USER_NAME,
            B.USER_PHONE AS CREATED_USER_PHONE,
            C.USER_NAME AS UPDATED_USER_NAME,
            C.USER_PHONE AS UPDATED_USER_PHONE
        FROM
            EARLY_ADMISSION_PHYSICAL_WOMAN_RELATIVE A
            LEFT JOIN USERS B ON B.USER_ID = A.CREATED_BY
            LEFT JOIN USERS C ON C.USER_ID = A.UPDATED_BY
        WHERE 1=1
        ]]>
        <include refid="commonWhereConditions" />
        <![CDATA[
        LIMIT 1
        ]]>
    </select>

    <!-- 수시 모집 실기 여자 상대평가 점수 정보 수정 -->
    <update id="updateEarlyAdmissionPhysicalWomanRelative" parameterType="kr.seoulfitness.admin.earlyAdmissionPhysicalWomanRelative.EarlyAdmissionPhysicalWomanRelativeDto">
        <![CDATA[
        UPDATE EARLY_ADMISSION_PHYSICAL_WOMAN_RELATIVE
        SET UPDATED_BY = #{updatedBy}, EARLY_ADMISSION_PHYSICAL_RELATIVE_MEMO = #{earlyAdmissionPhysicalRelativeMemo}
        ]]>
        <if test="useGrades != null and useGrades.size() > 0">
            <trim prefix="," suffixOverrides=",">
                <foreach collection="useGrades" index="index" item="grade">
                    <if test="grade != null and grade != ''">
                        USE_GRADE${index + 1} = #{grade},
                    </if>
                </foreach>
                <foreach collection="gradeScores" index="index" item="score">
                    <if test="score != null">
                        <![CDATA[
                        GRADE${index + 1}_SCORE = #{score},
                        ]]>
                    </if>
                </foreach>
                <foreach collection="gradeRangeMins" index="index" item="min">
                    <if test="min != null">
                        <![CDATA[
                        GRADE${index + 1}_RANGE_MIN = #{min},
                        ]]>
                    </if>
                </foreach>
                <foreach collection="gradeRangeMaxs" index="index" item="max">
                    <if test="max != null">
                        <![CDATA[
                        GRADE${index + 1}_RANGE_MAX = #{max},
                        ]]>
                    </if>
                </foreach>
            </trim>
        </if>
        <![CDATA[
        WHERE 1=1
        ]]>
        <include refid="commonWhereConditions" />
        <![CDATA[
        LIMIT 1
        ]]>
    </update>

    <!-- 수시 모집 실기 여자 상대평가 점수 정보 삭제 -->
    <delete id="deleteEarlyAdmissionPhysicalWomanRelative">
        <![CDATA[
        DELETE FROM EARLY_ADMISSION_PHYSICAL_WOMAN_RELATIVE
        ]]>
        <include refid="commonWhereConditions" />
    </delete>

</mapper>
